@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #121212;
    color: #FFFFFF;
}

#container {
    max-width: 50%;
    margin: 10px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

input {
    padding: 10px;
    font-size: 1.2rem;
    border: 2px solid #333;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 500px;
    background-color: #1E1E1E;
    color: #FFFFFF;
    &:focus {
        outline: none;
        border-color: #1E88E5;
    }
}

#btnAdicionar {
    background-color: #1E88E5;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #1565C0;
    }
}

.escondido {
    display: none;
}

#listaFilmes-container {
    text-align: center;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
    color: #1E1E1E;
}

#listaFilmes, #filmesAssistidos-container {
    list-style-type: none;
    background-color: #fff;
    padding: 10px 20px;
    width: 100%;
    border-radius: 10px;
}

#filmesAssistidos-container h2 {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

#listaFilmes h2 {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

#filmesAssistidos-container p {
    padding: 8px 0;
    background-color: #9b2323;
    color: white;
    border-radius: 5px;
    margin: 5px 0;
}

#listaFilmes p {
    padding: 8px 0;
    background-color: #1E88E5;
    color: white;
    border-radius: 5px;
    margin: 5px 0;
}

#telaFilmeSorteado h1 {
    color: #fff;
}

#telaFilmeSorteado{
    text-align: center;
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    color: #1E1E1E;
}

#filmeSorteado {
    padding: 20px;
    background-color: #671ee5;
    color: white;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#btnRandom {
    background-color: #074a85;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #9b2323;
    }
}

.btnTelas {
    background: none;
    color: #1E88E5;
    border: none;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    display: block;
}

h5{
    text-align: center;
    color: #9b2323;
}
